#containerdiv{
    border: 2px solid black;
    width: 480px;
    height: 700px;
    text-align: center;
    margin: auto;
    background-color: darkgrey;
    border-radius: 5px;
}
#gamediv{
    border: 1px solid black;
    width: 460px;
    height: 585px;
    margin: 8px auto auto auto;
    display: grid;
    grid-template-rows: 35px 1fr 1fr 1fr 1fr 35px;
    border: none;
}
#commanddiv{
    background-color:lightblue;
    border: 1px solid;
    text-align: center; 
    display: grid;
    grid-template-columns: 1fr 45px 1fr 1fr 1fr 1fr;
    margin-bottom: 4px;
}
#player1div,#player3div,#player2div,#player4div{
    background-color: antiquewhite;
    border: 1px solid;
    text-align: center;
    display: grid;  
    grid-template-columns: 1fr 45px 1fr 1fr 1fr 1fr;
    grid-template-rows: 25px 25px 25px 25px 25px; 
    margin-bottom: 4px;
}
#player2div,#player4div{
    background-color:aliceblue;
}
#resultdiv{
    background-color:lightblue;
    border: 1px solid;
    text-align: center;   
    display: grid;  
    grid-template-columns: 128px 1fr 1fr 1fr 1fr;
}
#col211,#col311,#col411,#col511{
    grid-area: 1/1/6/2;
    text-orientation:sideways;
    writing-mode: vertical-lr;
    font-size: large;
    border: 1px solid black;
    padding-left: 30px;
}
.minidiv{
    border: 1px solid black;
    cursor: pointer;
    padding-top: 2px;
}
.minidivc{
    border: 1px solid black;
    padding-top: 5px;

}
.minidivr{
    border: 1px solid black;
    padding-top: 7px;
}
#refreshbutton{
    height: 28px;
    width: 115px;
    color: black;
    background-color: gray;
    cursor: pointer;
    border-radius: 15px;
    border-color: black ;
}
.minidivrb{
    border: 1px solid black;
    padding-top: 1.6px;
    background-color: lightblue;
}
#player1,#player2,#player3,#player4{
    margin: 30px 2px 15px 2px;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 22px;
    text-align: center;
}
#player1::placeholder,#player2::placeholder,#player3::placeholder,#player4::placeholder{
    font-size: 14px;
    text-align: center;
    color: burlywood;
}
#col61{
    background-color: black;
    color: white;
    padding-top: 5px;
}