#containerdiv {
  border: 2px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgrey;
  border-radius: 5px;
  max-width: 435px;
  min-width: 300px;
  position: relative;
}
#gamediv {
  margin: 8px;
}
#commanddiv {
  background-color: lightblue;
  border: 1px solid;
  text-align: center;
  display: grid;
  grid-template-columns: 30px 70px 1fr 1fr 1fr 1fr;
  margin-bottom: 5px;
}
#player1div,
#player3div,
#player2div,
#player4div {
  background-color: antiquewhite;
  border: 1px solid;
  text-align: center;
  display: grid;
  grid-template-columns: 30px 70px 1fr 1fr 1fr 1fr;
  grid-template-rows: 25px 25px 25px 25px 25px;
  margin-bottom: 4px;
}
#player2div,
#player4div {
  background-color: aliceblue;
}
.w {
  background-color: lightblue;
  padding: 0 !important;
}
select {
  background-color: lightblue;
  border: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
#resultdiv {
  background-color: lightblue;
  border: 1px solid;
  text-align: center;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr;
}
#col211,
#col311,
#col411,
#col511 {
  grid-area: 1/1/6/2;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  font-size: large;
  border: 1px solid black;
  padding-left: 3px;
}
.minidiv {
  border: 1px solid black;
  cursor: pointer;
  padding-top: 2px;
}
.minidivc,
.minidivr {
  border: 1px solid black;
  height: 23px;
  padding-top: 5px;
  overflow-x: hidden;
}
.playersdiv {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 435px;
}
#player1,
#player2,
#player3,
#player4 {
  margin: 5px;
  border: none;
  border-radius: 5px;
  height: 22px;
  text-align: center;
  width: 130px;
  margin: 5px auto;
}
#player1::placeholder,
#player2::placeholder,
#player3::placeholder,
#player4::placeholder {
  font-size: 14px;
  text-align: center;
  color: burlywood;
}
#col61 {
  background-color: black;
  color: white;
  padding-top: 5px;
}
#submitbutton {
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
}
#resetBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: brown;
  border-radius: 20px;
  cursor: pointer;
}
